Source: pai
Section: user/tools
Priority: optional
Maintainer: Pauli Virtanen <pav@iki.fi>
Build-Depends: debhelper (>> 3.0.0), python2.5
Standards-Version: 3.6.2

Package: pai
Architecture: all
Depends: python2.5, python2.5-hildon
Description: Picture Archive Inspector
  Image viewer program that can look inside archive files.
